[Registro de asistencia a asesoría](https://forms.gle/FNg7WMenKvcgEh2T6)

<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/algebra_y_trigonometria/blob/main/classes/0_formatos_clase/algebra_and_trigonometry.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/marco-canas/algebra_y_trigonometria/blob/main/classes/0_formatos_clase/algebra_and_trigonometry.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>

# generación del QR para el cuaderno de esta clase    

Aquí tienes una función de Python que genera un código QR a partir de una URL y lo muestra en un cuaderno Jupyter:

In [1]:
import qrcode
from IPython.display import display

def generar_qr_notebook(url):
    """
    Genera un código QR para una URL y lo muestra en un cuaderno Jupyter.
    
    Parámetros:
    url (str): La URL para la cual se generará el código QR.
    
    Retorna:
    None (pero muestra el código QR en el notebook)
    """
    # Crear el objeto QR
    qr = qrcode.QRCode(
        version=1,
        error_correction=qrcode.constants.ERROR_CORRECT_L,
        box_size=10,
        border=4,
    )
    
    # Añadir la URL al código QR
    qr.add_data(url)
    qr.make(fit=True)
    
    # Crear la imagen del QR
    img = qr.make_image(fill_color="black", back_color="white")
    
    # Mostrar la imagen en el notebook
    display(img)

In [ ]:
generar_qr_notebook()


### Notas:
- La función usa la biblioteca `qrcode` para generar el código y `IPython.display` para mostrarlo en el notebook.
- El código QR aparecerá como salida de la celda donde llames a la función.
- Puedes ajustar parámetros como `box_size` (tamaño de los cuadrados) o `border` (tamaño del borde) según tus necesidades.

### [Video de apoyo a la lectura interactiva y experimental de este cuaderno]()

### [Vínculo al programa del curso Algebra_and_trigonometry:  ](https://github.com/marco-canas/algebra_y_trigonometria/blob/main/0_programa_curso/programa_algebra_and_trigonometry.md)
Código del curso: 303001

Un reconocimiento a mis estudiantes que han construido conmigo este saber pedagógico:

<img src = 'https://github.com/marco-canas/algebra_y_trigonometria/blob/main/images/primera_clase_2025-08-05_a_las_12.06.22.jpg?raw=true'>

Reconocimiento a las profesoras destacadas en enseñanza de la matemática en Colombia

In [3]:
import pandas as pd
import numpy as np

# Cargar la lista de estudiantes desde el archivo CSV
path = 'C:/Users/marco/Documentos/docencia/groups_list/algebra_and_trigonometry.xlsx'
df = pd.read_excel(path)
df.head(13)

,Cedula,Nombre,Email
0,1038648096,ACEVEDO BELEÑO SANTIAGO,sacevedo.beleno@udea.edu.co
1,1038648760,MARIN VILLARREAL PABLO ALEJANDRO,pablo.marin1@udea.edu.co
2,1193401041,MARTINEZ MANJARREZ DANIELA ESTHER,daniela.martinezm@udea.edu.co
3,1038108720,MEJIA GUZMAN SAMUEL,samuel.mguzman@udea.edu.co
4,1038647828,NIEBLES BARRERA ALEXANDER ISAAC,alexander.niebles@udea.edu.co
5,1045426138,OQUENDO MONA CRISTIAN GABRIEL,cristian.oquendo1@udea.edu.co
6,1032250901,PINO VERGARA LIZETH,lizeth.pino@udea.edu.co
7,1038092717,RIVERA GUZMAN CRISTIAN,cristian.rivera2@udea.edu.co
8,1038110693,ROMERO CALDERA JUAN ESTEBAN,juanesteban.romero@udea.edu.co
9,1063359347,SANCHEZ PACHECO MOISES DAVID,moises.sanchez1@udea.edu.co
10,1066600819,TIRADO CHAVARRIA WILFRAN DE JESUS,wilfran.tirado@udea.edu.co
11,1038136995,VERGARA ACEVEDO SARA CRISTINA,scristina.vergara@udea.edu.co
12,1007452831,VILORIA SIERRA ALEXANDER,a.viloria1@udea.edu.co


# Principios de mi labor docente

## Modelo general de clase: [aula invertida](https://www3.gobiernodecanarias.org/medusa/ecoescuela/pedagotic/aprendizaje-invertido-flipped-classroom/)

<img src = 'https://resources.maneuveringthemiddle.com/wp-content/uploads/2020/07/04212706/1-5.png' width = 200>

# Metodología de Aprendizaje Basado en Problemas y Proyectos (ABPP)


<img src = 'https://www.unir.net/wp-content/uploads/2020/07/aprendizaje-problemas2-1-1-1-1.jpeg' width = 200>

# Desarrollo del pensamiento computacional con Lenguajes Python y R, y con archivos Markdown orientado a la formación en ciencia de datos


<img src = 'https://i.ytimg.com/vi/mcG_wcR4e6M/maxresdefault.jpg' width = 200>

# Principio de fomento a la ciencia abierta, enseñar en el acceso a los datos públicos y el uso de software de código abierto


<img src = 'https://unesdoc.unesco.org/in/rest/Thumb/image?id=p%3A%3Ausmarcdef_0000379949_spa&author=UNESCO&title=Recomendaci%C3%B3n+de+la+UNESCO+sobre+la+Ciencia+Abierta&year=2021&publisher=UNESCO&TypeOfDocument=UnescoPhysicalDocument&mat=PGD&ct=true&size=512&isPhysical=1' width = 200>

El enfoque STEAMS en educación preescolar, primaria y secundaria es una extensión del enfoque STEM (Ciencia, Tecnología, Ingeniería y Matemáticas) y su variante STEAM, que incorpora el Arte.


<img src = 'https://www.campuseducacion.com/blog/wp-content/uploads/2023/03/foto01-1.jpg' width = 200>

# Y el enfoque de Teoría de Registros de Representación Semiótica de Duval

# Número de ejercicios por secciones  del capítulo 2 de [Swokowski](https://archive.org/details/algebra-y-trigonometria-con-geometria-analitica-13va-edicion-earl-w.-swokowski/page/n3/mode/2up) en su traceava edición. 

* Número de ejercicios de la Sección 2.1: 78, (Ecuaciones)  
* Número de ejercicios de la Sección 2.2: 40, (Problemas de aplicación)
* Número de ejercicios de la Sección 2.3: 83, (Ecuaciones cuadráticas)        
* Número de ejercicios de la Sección 2.4: 62, (Número complejos)  
* Número de ejercicios de la Sección 2.5: 71, (Otros tipos de ecuaciones)      
* Número de ejercicios de la Sección 2.6: 89, (Desigualdades)   
* Número de ejercicios de la Sección 2.7: 55, (Valor absoluto)     

La lista de los estudiantes del curso la puedes obtener en: https://github.com/marco-canas/groups_list/blob/main/algebra_and_trigonometry.xlsx

# Prompt para la función de Python que asigne los ejercicios a cada estudiante:  

Con el ánimo de fomentar el aprendizaje colaborativo y en equipo de mis estudiantes del programa de matemáticas del Instituto de Matemáticas de la UdeA, ayúdame con una función de Python que asigne a cada uno de los 19 estudiantes una cantidad de ejercicios, de tal manera que el grupo completo alcance a hacer todos los ejercicios del libro guía en el capítulo 2 de Swokowski en su treceava edición. Te comparto el número de ejercicios por sección: "Número de ejercicios por secciones  del capítulo 2 de [Swokowski](https://archive.org/details/algebra-y-trigonometria-con-geometria-analitica-13va-edicion-earl-w.-swokowski/page/n3/mode/2up) en su traceava edición.   

* Número de ejercicios de la Sección 2.1: 78, (Ecuaciones)  
* Número de ejercicios de la Sección 2.2: 40, (Problemas de aplicación)
* Número de ejercicios de la Sección 2.3: 83, (Ecuaciones cuadráticas)        
* Número de ejercicios de la Sección 2.4: 62, (Número complejos)  
* Número de ejercicios de la Sección 2.5: 71, (Otros tipos de ecuaciones)      
* Número de ejercicios de la Sección 2.6: 89, (Desigualdades)   
* Número de ejercicios de la Sección 2.7: 55, (Valor absoluto)     

La lista de los estudiantes del curso la puedes obtener en: https://github.com/marco-canas/groups_list/blob/main/algebra_and_trigonometry.xlsx".  Te adjunté la lista de estudiantes en un archivo .xlsx. Por favor, que la función de Python me entregue el dataframe de asignación de los ejercicios por estudiante y el archivo .xlsx de esta asignación, sin que se repitan ejercicios asignados a cada estudiante ni entre estudiantes. Para fomentar el que todos los ejercicios que propone el autor se realicen todos, pero aportando cada estudiante solo una parte de ellos, para que cada vez que se reúnan, puedan compartirle a otros la solución que encontraron.   Pero configura la asignación de los ejercicios en una dataframe de columnas: "Nombre_del_estudiante", "ejer_asig_sec_2_1", "ejer_asig_sec_2_2", "ejer_asig_sec_2_3", "ejer_asig_sec_2_4", "ejer_asig_sec_2_5", "ejer_asig_sec_2_6", "ejer_asig_sec_2_7". Para facilitar la lectura, por parte de los estudiantes, de sus ejercicios asignados.

It seems like I can’t do more advanced data analysis right now. Please try again later.

Lo que ya había preparado es lo siguiente:

* Leí tu archivo de estudiantes (`algebra_and_trigonometry.xlsx`) y confirmé que tiene 18 estudiantes en la hoja `Sheet1`.
* Calculemos: el capítulo 2 de Swokowski tiene **478 ejercicios** en total. Eso dividido entre los **18 estudiantes** da aproximadamente **26 o 27 ejercicios por estudiante**.
* El plan era generar un **DataFrame** con dos columnas:

  1. **Nombre del estudiante**
  2. **Ejercicios asignados** (una lista como `"Sección 2.1 - Ejercicio 5, Sección 2.3 - Ejercicio 17, ..."`).
* Luego, se guardaría todo en un archivo Excel (`asignacion_ejercicios_cap2.xlsx`) sin repeticiones, de modo que entre todos completen los 478 ejercicios.

Este es un script en Python que toma la lista de estudiantes desde el archivo `.xlsx` que ya tienes, reparte de forma equitativa todos los ejercicios del **capítulo 2 de Swokowski** y genera un archivo nuevo con la asignación.

In [1]:
# Asignación de ejercicios para el parcial 3  

import pandas as pd
import numpy as np

# Ruta al archivo de estudiantes cargado
file_path = r"C:\Users\marco\Documentos\docencia\groups_list\algebra_and_trigonometry.xlsx"

# Cargar la lista de estudiantes
students_df = pd.read_excel(file_path)

# Número de ejercicios por sección
exercises_per_section = {
    "ejer_asig_sec_3_1": 38,
    "ejer_asig_sec_3_2": 90,
    "ejer_asig_sec_3_3": 78,
    "ejer_asig_sec_3_4": 87,
    "ejer_asig_sec_3_5": 82,
    "ejer_asig_sec_3_6": 65,
    "ejer_asig_sec_3_7": 64,
    "ejer_asig_rep_cap_3": 90,  # Supongamos 50 ejercicios de repaso
    "ejer_asig_ana_cap_3": 10   # Supongamos
}

# Número de estudiantes
n_students = len(students_df)

# Inicializar DataFrame de asignación
assignment_df = pd.DataFrame()
assignment_df["Nombre_del_estudiante"] = students_df.iloc[:, 0]

np.random.seed(702)

# Función para repartir los ejercicios equitativamente y sin repetición
def assign_exercises(num_exercises, num_students):
    exercises = np.arange(1, num_exercises + 1)
    np.random.shuffle(exercises)  # Mezclar los ejercicios
    chunks = np.array_split(exercises, num_students)  # Dividir entre estudiantes
    # Convertir cada chunk a lista de enteros estándar de Python
    return [list(map(int, chunk)) for chunk in chunks]

# Asignar los ejercicios de cada sección
for section, num_ex in exercises_per_section.items():
    assigned_chunks = assign_exercises(num_ex, n_students)
    assignment_df[section] = assigned_chunks

# Guardar el archivo de asignaciones
output_path = r"C:\Users\marco\Downloads\asignacion_ejercicios_cap2.xlsx"
assignment_df.to_excel(output_path, index=False)

assignment_df.index = range(1, len(assignment_df) + 1)
assignment_df

,Nombre_del_estudiante,ejer_asig_sec_3_1,ejer_asig_sec_3_2,ejer_asig_sec_3_3,ejer_asig_sec_3_4,ejer_asig_sec_3_5,ejer_asig_sec_3_6,ejer_asig_sec_3_7,ejer_asig_rep_cap_3,ejer_asig_ana_cap_3
1,1038648096,"[25, 29]","[22, 65, 41, 83, 78]","[67, 50, 1, 18, 60]","[29, 81, 82, 54, 64]","[63, 16, 53, 30, 47]","[3, 8, 14, 44]","[48, 11, 28, 47]","[25, 74, 24, 54, 45]",[8]
2,1038111190,"[28, 20]","[11, 77, 46, 36, 86]","[64, 15, 5, 41, 45]","[70, 57, 41, 18, 12]","[46, 77, 6, 57, 59]","[33, 59, 64, 42]","[62, 61, 26, 16]","[63, 26, 75, 15, 40]",[3]
3,1038113597,"[31, 13]","[64, 34, 57, 4, 33]","[40, 2, 39, 34]","[56, 62, 21, 10, 2]","[39, 9, 60, 29, 3]","[49, 65, 57, 34]","[40, 43, 54, 60]","[43, 62, 50, 23, 28]",[1]
4,1038108190,"[17, 6]","[71, 80, 40, 44, 74]","[30, 66, 4, 31]","[4, 32, 80, 71, 6]","[51, 69, 45, 56, 19]","[55, 18, 51, 39]","[36, 5, 13, 14]","[39, 13, 77, 8, 30]",[7]
5,1038648760,"[38, 37]","[19, 66, 45, 48, 38]","[14, 62, 47, 29]","[60, 42, 1, 19, 3]","[67, 18, 26, 73, 58]","[50, 1, 45, 46]","[39, 20, 21, 31]","[64, 79, 67, 10, 29]",[10]
6,1193401041,"[21, 16]","[7, 42, 54, 81, 60]","[36, 21, 9, 71]","[50, 35, 85, 67, 8]","[8, 42, 55, 62, 33]","[48, 23, 19, 10]","[38, 29, 44, 30]","[66, 56, 46, 49, 17]",[4]
7,1038108720,"[34, 26]","[2, 87, 23, 62, 82]","[59, 42, 24, 78]","[17, 27, 45, 43, 66]","[37, 80, 43, 66]","[56, 20, 2, 25]","[50, 49, 64, 8]","[11, 81, 44, 37, 19]",[6]
8,1038647828,"[10, 2]","[6, 21, 43, 3, 15]","[51, 57, 7, 52]","[68, 38, 30, 84, 7]","[1, 34, 31, 24]","[6, 31, 26, 13]","[7, 53, 4]","[14, 5, 85, 70, 84]",[9]
9,1045426138,"[24, 23]","[18, 20, 50, 59, 58]","[73, 33, 35, 76]","[14, 53, 15, 55, 37]","[41, 70, 74, 12]","[61, 54, 58]","[41, 22, 1]","[36, 61, 65, 60, 82]",[5]
10,1038136953,"[30, 8]","[35, 12, 72, 52, 73]","[77, 17, 58, 11]","[65, 58, 26, 47, 83]","[27, 61, 38, 13]","[4, 47, 29]","[19, 12, 52]","[71, 58, 90, 9, 51]",[2]
11,1032250901,"[15, 1]","[76, 24, 16, 13, 85]","[70, 28, 37, 8]","[76, 23, 39, 33, 16]","[64, 54, 7, 79]","[15, 21, 40]","[18, 58, 27]","[1, 7, 18, 38, 76]",[]
12,1038092717,"[4, 11]","[75, 8, 61, 32, 79]","[61, 13, 32, 10]","[11, 61, 20, 48]","[32, 76, 36, 2]","[27, 24, 53]","[17, 56, 37]","[89, 4, 32, 86, 31]",[]
13,1038110693,"[9, 18]","[1, 31, 25, 17, 90]","[53, 38, 6, 49]","[49, 59, 79, 22]","[75, 22, 23, 78]","[62, 43, 16]","[10, 59, 55]","[52, 83, 27, 55, 12]",[]
14,1038647713,"[22, 27]","[51, 29, 9, 26, 10]","[20, 48, 3, 55]","[52, 51, 86, 87]","[40, 5, 25, 72]","[36, 60, 5]","[9, 32, 42]","[3, 72, 41, 2, 78]",[]
15,1063359347,"[5, 3]","[49, 63, 47, 89]","[74, 69, 16, 23]","[13, 24, 5, 31]","[35, 14, 82, 68]","[37, 11, 7]","[45, 24, 2]","[6, 68, 33, 48]",[]
16,1066600819,"[33, 32]","[53, 56, 28, 39]","[56, 26, 25, 43]","[72, 77, 44, 46]","[28, 71, 11, 44]","[63, 32, 12]","[23, 46, 57]","[16, 53, 57, 20]",[]
17,1038136995,"[12, 14]","[14, 5, 68, 84]","[12, 19, 75, 22]","[75, 9, 74, 34]","[17, 50, 20, 15]","[35, 22, 9]","[51, 6, 25]","[22, 73, 69, 80]",[]
18,1007452831,"[35, 7]","[88, 37, 67, 69]","[72, 27, 68, 44]","[63, 40, 28, 25]","[65, 10, 49, 81]","[28, 38, 17]","[63, 35, 33]","[88, 35, 34, 47]",[]
19,98640265,"[36, 19]","[27, 70, 55, 30]","[65, 46, 63, 54]","[78, 69, 73, 36]","[52, 21, 4, 48]","[41, 30, 52]","[15, 34, 3]","[42, 59, 87, 21]",[]


## Qué hace este script


1. Lee la lista de estudiantes desde tu archivo original `algebra_and_trigonometry.xlsx`.
2. Construye los **478 ejercicios** (etiquetados con sección y número).
3. Los **mezcla aleatoriamente** para que la distribución sea justa.
4. Asigna aproximadamente **26–27 ejercicios por estudiante** sin repeticiones.
5. Exporta el resultado a un nuevo archivo **`asignacion_ejercicios_cap2.xlsx`**.

---


¿Quieres que además te prepare una **versión del archivo de salida en formato .csv** (más liviano y fácil de abrir incluso sin Excel)?

In [1]:
exercises_per_section = {
    "Sección 2.1 (Ecuaciones)": 78,
    "Sección 2.2 (Problemas de aplicación)": 40,
    "Sección 2.3 (Ecuaciones cuadráticas)": 83,
    "Sección 2.4 (Números complejos)": 62,
    "Sección 2.5 (Otros tipos de ecuaciones)": 71,
    "Sección 2.6 (Desigualdades)": 89,
    "Sección 2.7 (Valor absoluto)": 55,
}

In [5]:
for seccion, num_ejer in exercises_per_section.items(): 
    print(num_ejer)

78
40
83
62
71
89
55

# [Programación de programa Regiones](https://lookerstudio.google.com/reporting/44e71da0-d16f-4a51-a51e-d5ae6c19b3f1/page/p_gy4nwf37hd?pli=1)

# Cursos que orienta el profesor Marco Julio Cañas Campillo en 2025  

1. Lunes 8 a 12: Fundamentos de Lógica: Licenciatura en Matemáticas . 
2. Martes de 9 a 10: Curso de ML and DL para Ingeniero Juan Gomez en España.  
3. Martes de 2 a 5 PM: Vector Geometry and Linear Algebra.  
4. Miércoles: 10 a 11: Reunión equipo investigador SAT Dengue. 
5. Miércoles 2 a 3 PM: Asesoría Trabajo de Grado Janis (Estudiante de Biología).  
6. Viernes 2 a 6 PM: Análisis Numérico: Programa de Licenciatura en Matemáticas.

# Horario de clases del profesor Marco

* Lunes 8-12:   
* Lunes 2- 6 PM: Fundamento de Lógica.  
* Martes 8-12 M: . 
* Miércoles 8 a 12 M:   
* Miércoles de 2 a 6 PM: 
* Jueves 2 a 6 PM:  
* Viernes 2 - 4 PM: Análisis Numérico. 
* Sábados 8-12 Asesorías y espacio para retroalimentación y apoyo al trabajo independiente.

# Horarios de monitoría y asesoría  

* Monitor Manuel San Juan Serrano: Contactar escribiendo al correo: manuel.serrano1@udea.edu.co


Coordinador de los cursos de la Facultad de Educación para regiones:    

Andrés Vélez: regioneducacion.fedu@udea.edu.co  
Coordinador Regiones  
Facultad de Educación  
Universidad de Antioquia

Martes y jueves de 8 - 12  
Miércoles 10 - 12 y de 2 a 4 PM  
Sábado: 8 - 12

## Referentes

* [CALCULO I DE UNA VARIABLE Ron Larson-Bruce Edwards. Mc Graw Hill. 9º Edición](https://www.academia.edu/42139251/CALCULO_I_DE_UNA_VARIABLE_Ron_Larson_Bruce_Edwards_Mc_Graw_Hill_9o_Edici%C3%B3n)   
  

* [Grajales Vanegas, L. M., Restrepo Estrada, C. E., Restrepo Ochoa, S. I., & Ruíz De Villalba, F. (2015). Matemáticas I para las ciencias económicas.](https://bibliotecadigital.udea.edu.co/handle/10495/3010)
  
* R. Duval y Semiosis y pensamiento humano, 2.ª ed. Cali, Colombia: Programa Editorial Universidad del Valle, 2017. [En línea]. Disponible en: https://programaeditorial.univalle.edu.co/gpd-semiosis-y-pensamiento-humano-9789587655278-63324cdb0f6b3.html

* [Aylwin, C. U. (2011). Lógica, conjuntos y números. Universidad de los Andes, Consejo de Publicaciones, Colección: Ciencias Básicas, Serie: Matemáticas.](chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/https://www.u-cursos.cl/ciencias/2011/1/MC110/1/material_docente/bajar?id_material=574722)
  
* [Chollet, F. (2021). Deep learning with Python. Simon and Schuster.](chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/https://tanthiamhuat.wordpress.com/wp-content/uploads/2018/03/deeplearningwithpython.pdf)  
  
* [Watson, S., Stewart, J., & Redlin, L. (2009). Precálculo. Matemáticas para el cálculo.](https://github.com/marco-canas/calculo/blob/main/referents/1_precalculo_stewart/stewart_precalculo.pdf)  

* [Purcell, E. J., Varberg, D., & Rigdon, S. E. (2007). Cálculo diferencial e integral. Pearson Educación.](https://github.com/marco-canas/calculo/blob/main/referents/purcell/purcell_calculo.pdf)

  

* [stewart cálculo](https://udeaeduco-my.sharepoint.com/:b:/g/personal/marco_canas_udea_edu_co/EZgXZjAp8QxPqOAim2hs6LcBNPLGjSHf-xwYnUVYkwa04w?e=RZdTCy)  





* [Recomendación de la UNESCO sobre ciencia abierta](https://unesdoc.unesco.org/ark:/48223/pf0000379949_spa)

* [chatGPT](https://openai.com/blog/chatgpt)  

* [Géron, A. (2017). Hands-on machine learning with scikit-learn and tensorflow: Concepts. Tools, and Techniques to build intelligent systems.](chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/http://14.139.161.31/OddSem-0822-1122/Hands-On_Machine_Learning_with_Scikit-Learn-Keras-and-TensorFlow-2nd-Edition-Aurelien-Geron.pdf)


* [McKinney, W. (2012). Python for data analysis: Data wrangling with Pandas, NumPy, and IPython. " O'Reilly Media, Inc.".](https://wesmckinney.com/book/)

# Como estudiante, encuentro que...   

F: Mis Fortalezas son:     
O: Mis Oportunidades son:    
D: Mis Debilidades son:    
A: Lo que Amenazas mi aprendizaje es:

### [Evaluamos al profesor Marco Cañas Aquí](https://forms.office.com/Pages/ResponsePage.aspx?id=IefhmYRxjkmK_7KtTlPBwkanXIs1i1FEujpsZgO6dXpUREJPV1kxUk1JV1ozTFJIQVNIQjY5WEY3US4u)

### Continue su aprendizaje en la siguiente clase a través del siguiente [vínculo]()

## Agradecimientos  

Doy gracias a Dios por la vida de mi Hijo Joseph Cañas Osorio y la madurez que ha alcanzado. Este hijo me enorgullece y me hace falta abrazarlo cada día. 

Y a mi esposa Yasmira Emperatriz Barboza Mogollón por su apoyo, orientación y acompañamiento.

# Apéndice sobre calendarios y coordinaciones

## Calendario del semestre académico 2025-2  

* Oferta de cursos: 29 de julio de 2025  

Matrícula: 30 de julio de 2025  

Ajustes de matrícula: 01 al 08 de agosto de 2025  

Inicio de clases: 04 de agosto de 2025  

Límite evaluación del 40%: 27 de septiembre de 2025  

Terminación de clases: 22 de noviembre de 2025

Exámenes finales: 24 al 29 de noviembre de 2025

Habilitación y validación: 01 al 06 de diciembre 2025

Terminación oficial del semestre: 09 de diciembre de 2025


A continuación le envío el horario de la asignatura Cálculo Vectorial  

Días:  
Lunes - Hora: 7:00 a 12:00M  
Fechas:  
Febrero: 10-17-24                                          
 Marzo: 3-10-17-31                                                  
Abril:7-21-28                                                   
Mayo:5-12-19  

Agradezco su apoyo, y si presenta alguna dificultad puede contactarme.  

Cordialmente,  
Juan Felipe Rivera Hernández  
Contacto: 3106314300